In [62]:
import pandas as pd

In [63]:
from sklearn.datasets import load_iris

In [64]:
iris=load_iris()
iris.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [65]:
dir(iris)#return all properties and methods of specified object without the value

['DESCR', 'data', 'feature_names', 'target', 'target_names']

In [66]:
iris.feature_names#it return number of  featurs

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [67]:
x=pd.DataFrame(iris.data)

In [68]:
x.head()

     0    1    2    3
0  5.1  3.5  1.4  0.2
1  4.9  3.0  1.4  0.2
2  4.7  3.2  1.3  0.2
3  4.6  3.1  1.5  0.2
4  5.0  3.6  1.4  0.2

In [69]:
y=iris.target

In [70]:
#Split DataSet into Training and Test DataSet
from sklearn.model_selection import train_test_split
X_Train,X_Test,Y_Train,Y_Test=train_test_split(x,y,test_size=0.1)

In [71]:
#Apply Support Vector Machine Model
from sklearn.svm import SVC

In [105]:
model=SVC()#it takes gamma=1/2/....n and kernel="linear"/rbf and so on
model.fit(X_Train,Y_Train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [99]:
model.predict(X_Test)

array([2, 2, 0, 0, 1, 2, 2, 2, 0, 0, 2, 1, 0, 1, 1])

In [100]:
model.score(X_Test,Y_Test)

1.0

In [101]:
iris.target_names[model.predict([[5.1,3.5,1.5,0.2]])]

array(['setosa'], dtype='<U10')