In [97]:
#Split Train and Test Data

In [98]:
import pandas as pd
import numpy as np

In [99]:
df=pd.read_csv("TrainTest.csv")
x=df.drop(['Sell Price($)'],axis="columns")
y=df['Sell Price($)']

In [100]:
from sklearn.model_selection import train_test_split

In [101]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)#Split DataSet by Train and Test it takes one more Argument random_state=10 which hold the actual dataset
x_train

    Mileage  Age(yrs)
10    83000         7
12    59000         5
13    58780         4
0     69000         6
7     72000         6
14    82450         7
5     59000         5
11    79000         7
6     52000         5
3     22500         2
2     57000         5
1     35000         3
4     46000         4
19    52000         5
9     67000         6
16    28000         2

In [102]:
from sklearn import linear_model

In [103]:
reg=linear_model.LinearRegression()
reg.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [104]:
reg.predict(x_test)

array([15924.96045841, 14644.76724839, 38219.0903645 , 22252.84519862])

In [105]:
y_test

18    12800
8     12000
15    35000
17    19700
Name: Sell Price($), dtype: int64

In [106]:
reg.score(x_test,y_test)

0.9013114097187013