In [51]:
import pandas as pd

In [52]:
import numpy as np

In [59]:
df=pd.read_csv("titanic.csv")
df.head()
len(df)

891

In [62]:
df=df.drop(['PassengerId','Name','Ticket','Cabin','Embarked'],axis="columns")
df=df.dropna()
X=df.drop(['Survived'],axis="columns")
Y=df.Survived
df.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0         0       3    male  22.0      1      0   7.2500
1         1       1  female  38.0      1      0  71.2833
2         1       3  female  26.0      0      0   7.9250
3         1       1  female  35.0      1      0  53.1000
4         0       3    male  35.0      0      0   8.0500

In [63]:
#One Hot Encoder for Sex Column
from sklearn.preprocessing import  LabelEncoder
le=LabelEncoder()
X['Sex']=le.fit_transform(X.Sex)
len(df)

714

In [64]:
#Split DataSet into Training and Test DataSet
from sklearn.model_selection import train_test_split
X_Train,X_Test,Y_Train,Y_Test=train_test_split(X,Y,test_size=0.2)

In [65]:
#Applied Decision Tree Model
from sklearn import tree
model=tree.DecisionTreeClassifier()
model.fit(X_Train,Y_Train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [66]:
#Predict Value
model.predict(X_Test)

143